body{ 
   background-color:#FEF6E1;
   text-align: left;
   font-size: 24 px;
   font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: #816238;
 }

.imagem {
   width: 100%;
   max-width: 400px;
   height: auto;
   object-fit: cover;
   border-radius: 15px;
   margin: 10px;
   margin-right: 20px;
 }

.caixa {
   font-size: 20px;
   display: flex;
   flex-grow: 1;
   justify-content: left;   
   max-width: 100%;
   width: 90%;
   height: auto;
   border: 2px solid #DDB784;
   border-radius: 15px;
   background-color: #DDB784;
   padding: 20px;
   margin-bottom: 20px;
}
