body{ background-color:rgb(240, 201, 129);
   text-align: justify;

}
 h1{
    font-style: italic;
    font-family:cursive;
    color:rgb(204, 137, 74)
 }
 .imagem {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 15px;
 }

.caixa {
   width: 1000px;
   height: 1000px;
   border: 2px rgb(204, 137, 74);
   border-radius: 15px;
   background-color: (204, 137, 74);
   padding: 10px;
}