body{ 
   background-color:#FFF1D8;
   text-align: justify;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
   margin: 20px;
}

 h1{
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color:#816238;
 }
 
 h2 {
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   color: #816238;
 }

 .imagem {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 15px;
 }

.caixa {
   max-width: 90%;
   width: 1000px;
   height: auto;
   border: 2px solid #DDB784;
   border-radius: 15px;
   background-color: #DDB784;
   padding: 10px;
   margin-bottom: 20px;
}