body{ background-color:#FFF1D8;
   text-align: justify;
   text-size-adjust: 50%;
}
 h1{
    font-style: italic;
    font-family:cursive;
    color:#816238;
 }
 .imagem {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 15px;
 }

.caixa {
   width: 1000px;
   height: 700px;
   border: 2px #FFE9C2;
   border-radius: 15px;
   background-color: (204, 137, 74);
   padding: 10px;
}